#hihi p {
    color: red;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(back.jpg);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    
}
.forms{
    padding: 30px 30px;
    margin: 0 auto;
    width: 400px;
    
}
label{
    display: inline;
}
input[type="reset"], input[type="submit"] {
    width: 40%;
    padding: 10px;
    margin: 0 auto 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}
input[type="file"]{
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin: 0 auto 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}
input[type="text"],input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 0 auto 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}
input[type="radio"] {
    width: 20%;
    padding: 10px;
    margin: 10px auto 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
#des {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 60px 20px 60px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#ch{
    display: block;
    margin: 30px auto;
    border-radius: 30px;
    border: 2px solid rgb(0, 42, 255);
}

#ch:hover{
    border: 2px solid rgb(255, 238, 0);
    padding: 0px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
}

